@media (min-width: 360px) and (max-width: 1115px) {
    .content {
        display: none;
    }
    img {
        display: none;
    }
    .container {
        margin: 71px auto 0 auto;
    }
    .divCadastro {
        margin: 130px auto 0 auto;
    }
}