@media (min-width: 801px) and (max-width: 1130px) {
    .content {
        width: 420px;
    }
    img {
        width: 330px;
    }
    .container {
        margin: 100px auto 0 auto;
    }
}


@media (min-width: 280px) and (max-width: 800px) {
    .content {
        display: none;
    }

    img {
        display: none;
    }

    .container {
        margin: 71px auto 0 auto;
    }

    .divCadastro {
        margin: 50px auto 30px auto;
    }
}

